@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 124, 140, 187;
  --navbar-color: #BFC7DE;
  --timer-color: 132, 134, 130;
  --start-color: #EC3739;
  --pause-color: #E49A28;
  --reset-color: #2994CD;
}

body {
  background-color: rgb(var(--background-color));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--navbar-color);
  width: 100%;
  padding: 10px;
}

.hatch-egg {
  height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

h1, p {
  color: white;
  text-align: center;
} 

h1 {
  font-size: 80px;
}

h2 {
  font-size: 130px;
  text-align: center;
}

p {
  font-size: 26px;
}

button {
  border-radius: 30px;
  background-color: white;
  color: black;
  margin: 14px;
  padding: 16px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  color: white;
}

.startButton {
  background-color: var(--start-color);
}

.pauseButton {
  background-color: var(--pause-color);
}

.resetButton {
  background-color: var(--reset-color);
}

.pokemon-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.egg-image {
  z-index: 2;
  top: 10px;
}

.egg-base {
  position: relative;
  z-index: 1;
  top: -50px;
}

.timer {
  color: rgb(var(--timer-color));
  background-color: white;
  border: solid;
  border-width: 6px;
  border-color: rgb(222, 222, 222);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: auto;
  margin: 20px;
}

footer {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
