@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 124, 140, 187;
  --navbar-color: #BFC7DE;
  --timer-color: 132, 134, 130;
  --start-color: #EC3739;
  --pause-color: #E49A28;
  --reset-color: #2994CD;
}

body {
  background-color: rgb(var(--background-color));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--navbar-color);
  width: 100%;
  padding: 10px;
}

h2 {
  font-size: 120px;
  text-align: center;
}

button {
  border-radius: 30px;
  background-color: white;
  color: black;
  margin: 16px;
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
}

button {
  color: white;
}

.startButton {
  background-color: var(--start-color);
}

.pauseButton {
  background-color: var(--pause-color);
}

.resetButton {
  background-color: var(--reset-color);
}

.pokemon-image {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.timer {
  color: rgb(var(--timer-color));
  background-color: white;
  border: solid;
  border-width: 6px;
  border-color: rgb(222, 222, 222);
  border-radius: 35px;
  margin: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
